.wrapper{
    background-color: white;
    padding: 30px 40px;
    border-radius: 10px;
    margin-top: 80px;
    box-shadow: 10px 5px gray;
    
}
/* 
animations for the register page.. */
.container {
    animation: slideIn 1s ease-out;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .form-group {
    animation: fadeInUp 1s ease-out;
  }
  
  @keyframes fadeInUp {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .btn {
    animation: scaleIn 1s ease-out;
  }
  
  @keyframes scaleIn {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  