<app-navbar></app-navbar>
<div class="jumbotron text-center ">
    <h1 class="display-4">About Us</h1>
    <p class="lead">This is simple about page</p>
</div>
<div class="container ">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut vitae animi est assumenda aperiam quae. Vitae
        dolorum dolores minima repudiandae. Voluptatem ducimus consequuntur id facere recusandae dolorum pariatur. Magni
        sunt maiores sit doloribus tenetur blanditiis quae illo omnis perspiciatis in repellat eos dicta, quod cum
        excepturi! Maxime aperiam facere recusandae amet non sit assumenda voluptatibus libero repellendus quis,
        repudiandae accusantium, dignissimos, perferendis corrupti. Quod veritatis repudiandae doloribus provident,
        iusto numquam quisquam voluptates, expedita similique molestiae quos et ad saepe pariatur veniam quas obcaecati
        alias quibusdam harum. Sequi eligendi omnis doloremque voluptates? Reiciendis ex consequatur quas debitis
        repudiandae eveniet sapiente quam?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ipsam, voluptate quam tempore provident alias ab
        mollitia quas aperiam ipsum. Iure rerum cum consectetur, similique illo amet eveniet? Quaerat dignissimos
        architecto voluptas aliquam modi sunt saepe quidem rem iste vel, ipsam perferendis blanditiis necessitatibus
        consequuntur, dicta labore eos commodi! Iste nulla expedita obcaecati ipsum delectus dolorum inventore facilis
        sunt accusantium illo ea perspiciatis placeat sit, facere aliquid provident aut omnis quo. Quia at placeat,
        accusamus ducimus sunt rerum facilis? Ab sint corrupti assumenda nemo sapiente, alias eos atque labore eveniet
        fuga aspernatur dolores, quisquam nesciunt sed ut eaque? Error, ad!
    </p>
</div>